* {
	box-sizing: border-box;
}

:not(:defined) {
	visibility: hidden;
}

body {
	margin: 0;
	background: antiquewhite;
}

.site-layout {
	> * {
		margin: 0 auto;
	}
}

.site-attraction {
	display: flex;
	flex-direction: column;
	align-items: safe center;
	justify-content: safe center;
	gap: 1em;
	padding: 4em 1em;

	.demo-components {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		max-width: 600px;

		.demo-component {
			flex: 1;
			min-width: 150px;
			padding: 0.5em 1em;
			font: italic 14pt "Noto Serif";
			border-radius: 10px;
			border: 2px solid rgba(0, 0, 0, 0.2);
			background: white;
			color: black;
			padding: 1em;

			&.a {
				background: palevioletred;
				animation-delay: 0;
			}

			&.b {
				background: palegreen;
				animation-delay: 200ms;
			}

			&.c {
				background: paleturquoise;
				animation-delay: 400ms;
			}
		}
	}

	.info-text {
		font: 10pt sans-serif;
		color: black;
		transition: opacity 800ms;

		&[data-busy="true"] {
			opacity: 0;
			user-select: none;
			pointer-events: none;
		}

		em {
			font-style: normal;
			color: hotpink;
		}
	}
}

.site-main-wrapper {
	border: 10px solid rgba(0, 0, 0, 0.05);
	display: flex;
	max-width: 800px;
}

.site-main {
	width: 100%;
	background: white;
	color: #222;
	font: 14pt "Noto Serif";
	line-height: 1.4;

	> * {
		margin: 2em 2em 3em;
	}

	h1, h2, h3, h4, h5, h6, [role="heading"] {
		color: black;
	}

	h1 {
		color: indianred;
		border-bottom: 5px solid indianred;
	}

	h2 {
		border-bottom: 2px solid #eee;
	}

	em.emphasis {
		font-style: normal;
		color: indianred;
	}

	a {
		color: indianred;
		text-decoration: underline;
	}

	pre:has(> code) {
		padding: 1em;
		font-size: 12pt;
		border: 10px solid rgba(0, 0, 0, 0.2);
		border-right: 0;
		border-top: 0;
		border-bottom: 0;
	}

	p code {
		background-color: #eee;
		color: black;
		padding: 0 0.25em;
	}
}

.site-footer {
	font: 12pt sans-serif;
	color: rgba(0, 0, 0, 0.5);
	margin: 2em 1em 6em;
	text-align: center;

	a {
		color: darkgreen;
	}
}

x-text-animator:state(playing) {
	a[href] {
		pointer-events: none;
	}
}